.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


td { 
  padding: 10px;
}

button {
  outline: none;
}

.header {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* FOR TEST */
.large-button {
  background-color:#49516F;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.large-button:disabled {
  background-color:lightgray;
  cursor: default;
}

.large-button:hover:enabled {
  background-color: #6279B8;
}

.alt-large-button {
  background-color: white;
  border: none;
  color: #49516F;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid #8ed1dc; 
  cursor: pointer;
}

.nav-buttons a {
  background-color: #8ed1dc; 
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-buttons a:hover {
  background-color: white; 
  color: black;
}

.nav-buttons a.current {
  background-color: white; 
  color: black;
}

/*----------- CSS GRID -----------*/

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 0.5fr;
  grid-template-rows: 0.2fr 0.4fr 2.9fr 0.6fr;
  gap: 0px 0px;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "Bar Bar Bar"
    "Logo Navbar Login"
    "Sidebar-L Main Sidebar-R"
    "Footer Footer Footer";
}

.Main { grid-area: Main; /*border: 2px solid red;*/ }

.Sidebar-L { grid-area: Sidebar-L;  }

.Sidebar-R { grid-area: Sidebar-R;  }

.Footer { 
  grid-area: Footer; 
  margin-top: 100px;
  background-color: #49516F;
}

.Bar { grid-area: Bar;  background-color: #8ed1dc; }

.Navbar { 
  grid-area: Navbar; 
  background-color: #8ed1dc;
}

.Logo { grid-area: Logo;  background-color: #8ed1dc;  }

.Login { grid-area: Login;  background-color: #8ed1dc;  }

/*----------- CSS GRID END -----------*/




/*----------- CSS USER PROFILE PAGE -----------*/ 

.container{
  margin: 50px auto 50px;
  width: auto; 
  height: 380px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.bubbles{
  height: 140px;
  background: #8ed1dc;
}

.bubbles img {
  max-height: 96px;
  max-width: 96px;
}

.photo{
  position:absolute;
  top: 87px; 
  left: 45%;
  border: 5px solid white;
  border-radius: 50%;
  height: 96px;
  overflow: hidden;
}

.maindiv{
  height: 150px;
  background-color: white;
  text-align: center;
  padding-top: 75px;
  box-sizing: border-box;
}

.name{
  font-weight: 700;
  font-size: 1.3em;
  color: var(--Verydarkdesaturatedblue);
}

.statscontainer{
  background-color: white;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid hsl(0, 0%, 90%);
  margin-top: 30px;
}

.statistics {
 text-align: center;
}

.quantity {
  font-weight: 700;
  font-size: 1.3em;
  margin-bottom: 10px;
  color: var(--Verydarkdesaturatedblue);
}

.units {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--Darkgray);
  letter-spacing: 2px;
}


/* TEST CARD*/ 

.testcard {
  text-align: left;
  border: 1px solid #8ed1dc;
  border-radius: 12px;
  padding: 1rem;
  width: stretch;
  height: auto;
  display: flex;
  flex-direction: row;

  margin: 1rem 0.5rem;
  background-color: #ffffff;
  cursor: pointer;
}


.div1 {
  /*border: 2px solid red; */
  flex-grow: 1;
}

 .div2 {
  /*border: 2px solid red; */
  width: 50px;
  background: red;
  margin-left: 4%;
  justify-content: center;
  vertical-align: middle;
}

.div2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  vertical-align: middle;
}


/*----------- USER PROFILE PAGE END -----------*/ 



/*----------- TEST PAGE -----------*/ 

.progressdiv {
  margin-top: 2%;
  margin-bottom: 5%;
}

progress {
  width: 300px;
  height: 30px;
  value: red; 
}

.soundsdiv {
  margin-top: 5%;
  margin-bottom: 5%;
}

.soundbutton{
  background-color: #8ed1dc; 
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.soundbutton img{
    display: block;
    height: 30px;  
}

.soundbuttonblink {
  background-color: #8ed1dc; 
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #6279B8;
  -webkit-animation: border-blink 1s step-end infinite;    
  animation: border-blink 1s step-end infinite; 
}

.soundbuttonblink img{
  display: block;
  height: 30px;  
}

/*----------- TEST PAGE END -----------*/ 


/*.full-width {
  position: relative;
  margin: 0 -9999rem;
  padding: 2rem 9999rem;
  background: lightgray;
  color: white;
  font-size: 1.125rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  margin-bottom: 8%;
}

.full-width1 {
  border: 2px solid red; 
  flex: 0 0 20%;
  margin-right: 4%;
}

 .full-width2{
  border: 2px solid red; 
  flex: 0 0 80%;

}


html, body {
  overflow-x: hidden;
}

.full-width img {
  max-width: 90%;

}
*/

/*----------- LOGIN BUTTONS  -----------*/ 

.flex-container {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
}

/*----------- LOGIN BUTTONS END -----------*/ 




/*----------- AUDIOLOGIST CARD -----------*/ 

.audiocard {
    text-align: left;
    border: 1px solid #8ed1dc;
    border-radius: 12px;
    padding: 1rem;
    width: stretch;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 1rem 0.5rem;
    background-color: #ffffff;
    cursor: pointer;
}


.yelp-logo {
  width:80px;
}

.ratings {
  width:150px;
  margin-right: 14px;
}

.cover-photo {
  float: left;
  width:  250px;
  height: 250px;
  object-fit: cover;
  margin-right: 30px;
  border: 5px solid white;
  border-radius: 12px;
}


.search-input {
  background: transparent;
  border: none;
  border-bottom: 3px solid #49516F;
  margin-left: 8px;
  margin-right: 8px;
  width: 40%;
}

.search-input:focus {
  outline: none;
}

.search {
  margin-top: 40px;
  margin-bottom: 70px;
}

/*----------- AUDIOLOGIST CARD END -----------*/ 


/*----------- LOADING SPINNER -----------*/ 

.loading-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 100px;
}
.loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #8ed1dc transparent transparent transparent;
}
.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*----------- LOADING SPINNER END -----------*/ 


/*----------- EQUIPMENT PAGE -----------*/ 


.equipment-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}


.equipment-item {
  margin-left: 20px;
  margin-right: 20px;
  width:250px;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid #8ed1dc;
}

.equipment-item:hover {
  border: 2px solid #6279B8;
}

.equipment-item img {
  width:250px;
  border-radius: 10px;
}

/*----------- EQUIPMENT PAGE END -----------*/ 


/*----------- CALIBRATION PAGE -----------*/ 

.step-card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 140px;
  border-radius: 10px;
  border: 1px solid #8ed1dc;
  display: flex;
  flex-direction: row;
}


.step-card img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  border-radius: 10px;
}

.step-div {
  background-color: #6279B8;
  min-width: 90px;
  border-radius: 10px;
  padding: 70px 0;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.step-card-blink {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 140px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  -webkit-animation: border-blink 1s step-end infinite;    
  animation: border-blink 1s step-end infinite; 
}

.step-card-blink img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  border-radius: 10px;
}


/*----------- CALIBRATION PAGE END -----------*/ 


@-webkit-keyframes border-blink {    
  from, to {    
      border: 2px solid #6279B8;   
      border-radius: 10px;   
  }    
  50% { 
      border: 1px solid #8ed1dc; 
  }    
}    
@keyframes border-blink {    
  from, to {    
      border: 2px solid #6279B8;  
      border-radius: 10px;   
  }    
  50% {    
      border: 1px solid #8ed1dc;  
  }    
}  









.icon {
  max-width: 25px;
  margin-right: 10px;
}







.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
  margin-top: 100px;
  margin-bottom: 50px;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: #6279B8;
  border-radius: 12px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #49516F;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

.input-tag__tags li.input-tag__tags__input:focus {
  outline: none;
}



